
<a routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
    true}">Home</a> <br/>
<a routerLink="account/123432/21232" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
    true}">account</a><br/>
<a routerLink="admin" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
    true}">
    admin
</a><br/>
<a routerLink="admin/notone" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
    true}">
    admin notone
</a><br/>
<router-outlet></router-outlet> 
   